
    <div class="login-bg">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form class="bgg">
            <h3>Team Login</h3>
    
            <label for="username">Username</label>
            <input type="text" placeholder="Email" id="username">
    
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">
    
            <button style="color: black;" (click)="login()">Log In</button>
            <div class="social">
              <div class="go"><i class="bx bxl-google"></i>  Google</div>
              <div class="fb"><i class="bx bxl-microsoft"></i> Microsoft</div>
            </div>
        </form>
    </div>

    