  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="text-white">Team 404</h1>
        <span></span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul class="text-white">
          <li><a class="text-white">Home</a></li>
          <li><a class="text-white">Topic</a></li>
          <li><a class="text-white">POC</a></li>



          <li><a class="text-white">Contact</a></li>
        </ul>

      </nav><!-- End Nav Menu -->

      <a class="btn btn-primary" *ngIf="getPath() == '/home'" (click)="onLogin()">Team Login</a>
      <a class="btn btn-warning" *ngIf="getPath() == '/dashboard'" href="/">Logout</a>

      <!-- <button (click)="getPath()">aa</button> -->

    </div>
  </header><!-- End Header -->

  <!-- <app-misc></app-misc> -->
  <router-outlet></router-outlet>
  <!-- <app-home></app-home> -->

  <!-- <app-misc></app-misc> -->
