    <!-- Recent-posts Section - Home Page -->
    <section id="recent-posts" class="recent-posts mt-5">

        <!--  Section Title -->
        <div class="container section-title mt-5" data-aos="fade-up">
          <h2>Welcome to the dashboard</h2>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <article>
                <div class="post-img">
                    <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                  </div>
  
                <p class="post-category">POC</p>
  
                <h2 class="title">
                  <a >CRUD Operations</a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <div class="post-meta">
                    <p class="post-author">A simple poc to perform the crud operation using jenkins angular, databse etc</p>
                    
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->
  
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <article>
  
                <div class="post-img">
                  <img src="assets/img/blog/assigment.jpeg" alt="" class="img-fluid">
                </div>
  
                <p class="post-category">Assigments</p>
  
                <h2 class="title">
                  <a >Assigments</a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <div class="post-meta">
                    <p class="post-author">Count: 4</p>
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->
  
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <article>
  
                <div class="post-img">
                  <img src="assets/img/blog/technical.png" alt="" class="img-fluid">
                </div>
  
                <p class="post-category">Blogs</p>
  
                <h2 class="title">
                  <a href="">Technical Blogs</a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <div class="post-meta">
                    <p class="post-author">None</p>
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->
  
          </div><!-- End recent posts list -->
  
        </div>
  
      </section><!-- End Recent-posts Section -->

        <!-- Contact Section - Home Page -->
        <section id="contact" class="contact">

            <!--  Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Add new POC</h2>
              <p>You can add the new POC and shared with the wider group of people</p>
            </div><!-- End Section Title -->
      
            <div class="container" data-aos="fade-up" data-aos-delay="100">
      
              <div class="row m-auto gy-4">
      

      
                <div class="col-lg-8">
                  <form class="php-email-form" >
                    <div class="row gy-4">
      
                      <div class="col-md-">
                        <input type="text" name="poc_title" class="form-control" placeholder="Title" required>
                      </div>
      

      
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="link" placeholder="Link" required>
                      </div>
      
                      <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Description" required></textarea>
                      </div>
      
                      <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
      
                        <button class="btn btn-success">Submit</button>
                      </div>
      
                    </div>
                  </form>
                </div><!-- End Contact Form -->
      
              </div>
      
            </div>
      
          </section><!-- End Contact Section -->
      
  