.card-hover:hover {
    border: 3px solid var(--primary-color) !important;
    .team-info {
        display: block !important;
    }
    // color: var(--primary-color) !important;
}

.tag {
    background: rgba(var(--primary-color-rgb), 0.05);
    color: var(--primary-color);
    border-radius: 7px;
    display: block;
    padding: 10px;
    width: fit-content;
    margin-top: 0.5rem;
}

.title-color {
    color: var(--primary-color);
}