<main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="assets/img/b1.jpeg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">
                <span >Welcome</span> to Office Engineering Hub
                </h2>
            <p data-aos="fade-up" data-aos-delay="200">We are team of talented engineers</p>
          </div>

        </div>
      </div>

    </section><!-- End Hero Section -->

    <!-- Clients Section - Home Page -->

        <!-- Services Section - Home Page -->
        <section id="services" class="services">

            <!--  Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Engineering Enablement</h2>
              <p>Engineering Enablement teams’ main goal is to reduce complexity and improve development velocity and time to market by providing self-service solutions, engineering standards, and best practices. The team aims to enable developers to focus on business logic and puts an emphasis on developer experience and product quality (Delivered to production).</p>
            </div><!-- End Section Title -->
      
            <div class="container">
      
              <div class="row gy-4">
      
                <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-cloud-check"></i></div>
                    <div>
                      <h4 class="title"><a class="stretched-link">Cloud AWS & Azure</a></h4>
                      <p class="description">Cloud computing is the on-demand availability of computer system resources, especially data storage and computing power, without direct active management by the user.</p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
      
                <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-code-square"></i></div>
                    <div>
                      <h4 class="title"><a class="stretched-link">Micro services</a></h4>
                      <p class="description">In software engineering, a microservice architecture is a variant of the service-oriented architecture structural style.</p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
      
                <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-code"></i></div>
                    <div>
                      <h4 class="title"><a class="stretched-link">Docker</a></h4>
                      <p class="description">Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers.</p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
      
                <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-github"></i></div>
                    <div>
                      <h4 class="title"><a class="stretched-link">GitHub</a></h4>
                      <p class="description">GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code.</p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
      
                <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-file-earmark-code-fill"></i></div>
                    <div>
                      <h4 class="title"><a class="stretched-link">Coding best practices</a></h4>
                      <p class="description">Coding best practices or programming best practices are a set of informal rules that many software developers in computer programming follow to improve software quality</p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
      

      
              </div>
      
            </div>
      
          </section><!-- End Services Section -->
      

    <!--  Section - Home Page -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>Experiments</h3>
            <h2>Quick & short Prototype(s) by various teams</h2>
            <p>These are the POC(s) developed by all the teams of various concepts of Engineering Enablement usimng AWS, docker terrraform and other latest technologies under the guidance of mentors</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">
                <div class="col-md-6" *ngFor="let data of poc_data" data-aos-delay="200">
                    <div class="icon-box  card-hover">
                      <i [class]="data.poc_icon"></i>
                      <h3>{{data.title}}</h3>
                      <p>{{data.desc}}</p>
                      <button class="btn btn-primary mt-4"> Live Demo</button>
                      
                      <div class="team-info" style="display: none;">
                        <span class="tag mt-3">{{data.team_name}}</span>
                        <p class="mt-3"> 
                            <strong>
                                Team lead: {{data.team_lead}}
                            </strong>
                            </p>
                        <p class="mt-3"> Team members: 
                            <span style="display: block;" *ngFor="let name of data.team_member">
                              <li>{{name}}</li>
                              
                            </span>
                        </p>
                      </div>
                    </div>
                  </div>

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
    <!-- Team Section - Home Page -->
    <section id="team" class="team">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Mentors</h2>
        <p>Industrty experts</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5 mb-4">
          <div class="col-lg-4 col-md-4 member m-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/p4.jpeg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Shanthakumar Shanmugham</h4>
              <span>Chief Architect</span>
              <p>One line description</p>
            </div>
          </div><!-- End Team Member -->
        </div>

        <div class="row mt-4 gy-5">



          <div class="col-lg-4 col-md-4 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/kumar.jpeg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Kumarasamy Perumalsamy</h4>
              <span>Architect</span>
              <p>One line description</p>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-4 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/p2.jpeg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Parashar Harekal</h4>
              <span>Architect</span>
              <p>One line description</p>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-4 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/p3.jpeg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Puneet Kankane</h4>
              <span>Architect</span>
              <p>One line description</p>
            </div>
          </div><!-- End Team Member -->
          


          




        </div>

      </div>

    </section><!-- End Team Section -->

</main>